<footer >
  <section class="floatSupportBtn--UpperLeft">
    <button type="submit" class="button--support">Support</button>
    <button class="upperArrowBTN">^</button>
<!--    <button (click)="scrollToTop()" class="upperArrowBTN">^</button>-->
  </section>

  <section class="footer">
    <section class="container text--lessBold">
      <section class="boxCompanyStats--footer">
        <p ><a href="#11" class="button--text">Contact us</a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet in, nobis repudiandae tempora totam.</p>
        <p><img src="./assets/images/address.png" alt="address" width="12">
          Adresse Route De Nouaceur, 251, Technopark - Casablanca.</p>
        <p><img src="./assets/images/email.png" alt="address" width="12"> Peaqock@email.com</p>
        <p><img src="./assets/images/phone2.png" alt="address" width="12"> +20-2-55669988/1/2/3</p>
        <p><img src="./assets/images/phone2.png" alt="address" width="12"> +20-2-55443322/1/2</p>
      </section>
      <section class="boxCompanyStats--footer">
        <p ><a href="#11" class="button--text">About Peaqock</a></p>
        <p>Privacy Statement</p>
        <p>Term & Condition</p>
        <p>Accessibility</p>
        <p>F.A.Q</p>
        <p>
          <img src="./assets/images/facebook.png" alt="facebook logo" width="12">&nbsp;
          <img src="./assets/images/youtube.png" alt="youtube logo" width="12">&nbsp;
          <img src="./assets/images/twitter.png" alt="twitter logo" width="12">&nbsp;
          <img src="./assets/images/instagram.png" alt="instagram logo" width="12">&nbsp;
          <img src="./assets/images/linkedin.png" alt="linkedin logo" width="12">&nbsp;
        </p>
      </section>
      <section class="boxCompanyStats--footer">
        <p ><a href="#11" class="button--text">Locations</a></p>
        <p>
          <img src="./assets/images/footerAfricaImage.PNG" alt="Africa Image" >
        </p>
      </section>
    </section>
    <section class="">
      <span >Copyright &copy; 2022, All Rights Reserved</span>
    </section>
  </section>
</footer>
