<header>
  <a href="#1" class="logo">peaqock</a>
  <input type="checkbox" id="menu-bar">
  <label for="menu-bar">
    <img src="./assets/images/hamburgerMenu2.png" alt="" width="32" class="backgroundColor">
  </label>

  <nav class="navbar">
    <ul>
      <li><a href="#2">about</a></li>
      <li>
        <a href="#3">
          membership +
        </a>
        <ul>
          <li><a href="#8">Bronze membership</a></li>
          <li><a href="#9">Silver membership</a></li>
          <li><a href="#10">Gold membership</a></li>
        </ul>
      </li>
      <li><a href="#4">news & events</a></li>
      <li><a href="#5">contact us</a></li>
      <li><a href="#6">let's talk</a></li>
      <li><a href="#7">profile</a></li>
    </ul>
  </nav>
</header>

<!--
<header class="header--color--display totalHeader">
  <section class="container ">
    <span class="far--left">
      <h1 class="white__Link">peaqock</h1>
    </span>
    <nav>
      <ul class="far--right">
        <li><a href="#1" routerLink="/" class="white__Link">about</a></li>
        <li><a href="#2" routerLink="/users" class="white__Link">membership</a></li>
        <li><a href="#3" class="white__Link">news & events</a></li>
        <li><a href="#4" class="white__Link">contact us</a></li>
        <li><a href="#5" class="white__Link">let's talk</a></li>
        <li><a href="#6" class="white__Link">profile</a></li>
      </ul>
    </nav>
  </section>
</header>
-->
