<header class="header--color--display totalHeader">
  <section class="container ">
    <span class="far--left">
      <h1 class="white__Link">peaqock</h1>
    </span>
    <nav>
      <ul class="far--right">
        <li><a href="#1" class="white__Link">about</a></li>
        <li><a href="#2" class="white__Link">membership</a></li>
        <li><a href="#3" class="white__Link">news & events</a></li>
        <li><a href="#4" class="white__Link">contact us</a></li>
        <li><a href="#5" class="white__Link">let's talk</a></li>
        <li><a href="#6" class="white__Link">profile</a></li>
      </ul>
    </nav>
  </section>
</header>
