<section>

  <section id="showcase"  #scroll>
    <section class="container  ">
      <section class="box align--bottom">
        <h2 class="white__Link">manage operations</h2>
        <button type="submit" class="button--learnMore--white">LEARN MORE</button>
        <span class="paddingLeft"></span>
        <img src="./assets/images/playButton.png" alt="playButton image" width="35" height="35">
      </section>
      <section class="box align--bottom">
        <p class="white--color inlineElement">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque dolorem eos ex magni nesciunt non
          officiis perferendis qui quo. Enim quaerat, voluptatibus. Consectetur consequuntur debitis dolore earum ipsam natus!
        </p>
      </section>
    </section>
  </section>

  <section id="companyStats">
    <section class="container" >
    <span class="boxCompanyStats">
      <h1 class="green--text--bold">+800</h1>
      <span class="blockElement">Partners</span>
    </span>
      <span class="boxCompanyStats">
      <h1 class="green--text--bold">+55</h1>
      <span class="blockElement">Countries</span>
    </span>
      <span class="boxCompanyStats">
      <h1 class="green--text--bold">+4500</h1>
      <span class="blockElement">Opportunities</span>
    </span>
      <span class="boxCompanyStats">
      <h1 class="green--text--bold">+1529</h1>
      <span class="blockElement">Companies</span>
    </span>
    </section>
  </section>

  <section class="boxes">
    <section class="container">
      <section class="box">
        <span>OUR SERVICE</span>
        <H1>Trade Simple</H1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis, eius est eum eveniet molestiae nulla,
          possimus quibusdam reiciendis reprehenderit tenetur totam. A commodi deleniti dolorum facilis illum pariatur sunt!
        </p>
        <button type="submit" class="button--discoverNow">Discover New</button>
      </section>
      <section class="box">
        <!-- Shape figure -->
        <img class="imageWidth" src="./assets/images/tradeSimpleImage.PNG" alt="trade stats Image">
      </section>
    </section>
  </section>

  <section class="boxes">
    <section class="container">
      <section class="box">
        <span>ABOUT US</span>
        <H1>PEAQOCK is a Member Driven Network</H1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis, eius est eum eveniet molestiae nulla,
          possimus quibusdam reiciendis reprehenderit tenetur totam.
        </p>
        <button type="submit" class="button--learnMore">Learn More</button>
      </section>
      <section class="box">
        <!-- Shape figure -->
        <img class="imageWidth" src="./assets/images/drivenNetworkImage.PNG" alt="drivenNetwork Image" >
      </section>
    </section>
  </section>

  <section class="boxes">
    <section class="container">
      <section class="box--centered">
        <span>MEMBERSHIP</span>
        <H1>PEAQOCK Membership Package</H1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis, eius est eum eveniet molestiae nulla,
          possimus quibusdam reiciendis reprehenderit tenetur totam.
        </p>
        <button type="submit" class="button--packageDetails">Packages Details -></button>
      </section>
    </section>
  </section>

  <section class="boxes">
    <section class="container">
      <section class="box">
        <section class="box--product--fees">
          <span class="green--text float--left">
            <img class="green--text--icon" src="./assets/images/emojiLaugh.png" alt="emojiLaugh image" width="24">
          </span>
          <span class="float--center">
            <h3 class="green--text">Basic</h3>
            <span class="para--thin">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis, eius est eum eveniet molestiae nulla.
            </span>
          </span>
          <section class="float--right">
            <button type="submit" class="float--right rectangle--button--search--green">View Details FREE</button>
          </section>
        </section>

        <section class="box--product--fees">
          <span class="blue--text float--left">
            <img class="blue--text--icon" src="./assets/images/timer.png" alt="timer image" width="24">
          </span>
          <span class="float--center">
            <h3 class="blue--text">Standard</h3>
            <span class="para--thin">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis, eius est eum eveniet molestiae nulla.
            </span>
          </span>
          <section class="float--right">
            <button type="submit" class="float--right rectangle--button--search--blue">View Details $ 1.500</button>
          </section>
        </section>
      </section>
      <section class="box">
        <section class="box--product--fees">
          <span class="gold--text float--left">
            <img class="gold--text--icon" src="./assets/images/security.png" alt="security image" width="24">
          </span>
          <span class="float--center">
            <h3 class="gold--text gold--text--bold">Gold</h3>
            <span class="para--thin">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis, eius est eum eveniet molestiae nulla.
            </span>
          </span>
          <section class="float--right">
            <button type="submit" class="float--right rectangle--button--search--gold">View Details $ 2.500</button>
          </section>
        </section>

        <section class="box--product--fees">
          <span class="platinum--text float--left">
            <img class="platinum--text--icon" src="./assets/images/securitydoor.png" alt="lock image" width="24">
          </span>
          <span class="float--center">
            <h3 class="platinum--text">Platinum</h3>
            <span class="para--thin">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis, eius est eum eveniet molestiae nulla.
            </span>
          </span>
          <section class="float--right">
            <button type="submit" class="float--right rectangle--button--search--platinum">View Details $ 5.000</button>
          </section>
        </section>
      </section>
      </section>
    </section>

  <section id="news--letter">
    <section class="container">
      <h1 class="newsletter--h1">newsletter</h1>
      <section class="mySectionForm">
        <form href="#" class="form--hover">
          <input type="email" placeholder="Your email address">
          <button type="submit" class="button--subscribe">Subscribe</button>
        </form>
      </section>
    </section>
  </section>

</section>
